/* .content-card-us {
  max-width: 500px;
  max-height: 500px;
  @apply h-20 w-20;
} */
.card-img {
  max-width: 300px;
  max-height: 300px;
  @apply w-full h-full rounded-md hover:scale-105 duration-150;
}
