.card-avatar {
  max-width: 400px;
  min-width: 200px;
  max-height: 600px;
  min-height: 300px;
  @apply relative h-4/5 grid justify-items-center;
}

.card-avatar img {
  max-width: 400px;
  min-width: 100px;
  max-height: 500px;
  min-height: 300px;
  @apply rounded-md;
}

.card-avatar .info-box {
  @apply bg-white p-2;
  @apply relative w-3/4 -translate-y-10 rounded-md shadow-md shadow-gray-200;
}

.card-avatar .info-box h6 {
  @apply text-xl text-gray-600 font-semibold text-center;
}

.card-avatar .info-box p {
  @apply text-center text-gray-500;
}
