.card-testimonial {
  /* min-width: 500px; */
  width: 50vw;
  max-width: 600px;
  min-width: 340px;
  @apply grid justify-items-center gap-3;
}
.card-testimonial h4 {
  @apply text-gray-200 text-lg text-center;
}
.card-testimonial .star {
  @apply w-24;
}
.card-testimonial p {
  max-width: 650px;
  @apply text-gray-200 text-center px-8;
}
