.nav-header {
  z-index: 100;
  transition: 300ms ease-in-out;
  @apply fixed flex justify-between bg-transparent w-screen px-6 py-2;
}
.nav-header.active {
  background-color: #03499A;
  /* @apply bg-gradient-to-r from-secundary to-primary; */
}
.nav-header img {
  @apply w-48;
}
.nav-header .nav {
  @apply gap-4 items-center text-white sm:text-base md:text-xl 0:hidden sm:flex;
}
.nav-header .icon-menu {
  @apply text-4xl text-white cursor-pointer;
  @apply 0:inline sm:hidden self-center;
}
.nav-header .nav a {
  background-image: linear-gradient(#ebebeb, #ebebeb);
  background-repeat: no-repeat;
  background-size: 0% 2px;
  background-position: center bottom;
  transition: 200ms ease-in-out;
}

.nav-header .nav a:hover {
  background-size: 100% 2px;
}

@keyframes activeNavBar {
  from {
    background-color: transparent;
  }
  to {
    background-image: linear-gradient(to left, #012f3c, #203659);
  }
}
