.container-testimonial {
  background: url("../../assets/backgroundTwo.png") center center no-repeat
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 70vh;
  min-height: 600px;
  @apply py-10 gap-12;
}

.container-testimonial .testimonial-header {
  @apply flex flex-col items-center gap-4;
}
.container-testimonial .testimonial-header h2 {
  @apply text-gray-300 text-2xl;
}
.container-testimonial .testimonial-header p {
  max-width: 600px;
  @apply text-gray-300 text-center;
}

.container-testimonial .swiper {
  max-width: 600px;
  @apply 0:w-full
}

.container-testimonial .swiper-slide {
  max-width: 600px;
  width: 50vw;
  min-width: 340px;
}